html[data-theme='dark'] {
    --primary-color: #141414;                    /* 主题色 */
    --bg-color: #141414;                         /* 背景色 */
    
    --color-border-bg: #424242;                  /* 边框背景色 */
    --color-bg-layout: #141414;                  /* 背景色 */
    --color-bg-container: #1c1c1c;               /* 容器背景色 */
    --color-container-hover: rgba(255, 255, 255, 0.08);   /* 鼠标滑过容器背景色 */
    --color-fill: rgba(255, 255, 255, 0.18);     /* 填充色 */
    --color-text: rgba(255, 255, 255, 0.85);     /* 默认字体颜色 */

    --item-bg-hover: rgba(255, 255, 255, 0.08);  /* 鼠标滑过背景色 */
    --item-bg-active: #15325b;                   /* 激活背景色 */
    --item-bg-active-hover: #15417e;             /* 激活背景色 */

    --box-shadow: 0 6px 16px 0 rgba(255, 255, 255, 0.08), 0 3px 6px -4px rgba(255, 255, 255, 0.12), 0 9px 28px 8px rgba(255, 255, 255, 0.05);     /* 阴影 */
    --box-bottom-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.03), 0 1px 6px -1px rgba(255, 255, 255, 0.02), 0 2px 4px 0 rgba(255, 255, 255, 0.02);  /* 阴影 */
}