.bin-image {
    --bin-image-size: auto;

    position: relative;
    display: block;
    width: var(--bin-image-size);
    height: var(--bin-image-size);
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .bin-image-contain {
        object-fit: contain;         /* 包含：保持原始宽高比，内容完全显示在框内，可能留有空白区域 */
    }
    .bin-image-cover {
        object-fit: cover;           /* 覆盖：保持原始宽高比，内容可能被裁剪，但会填满整个框 */
    }
    .bin-image-fill {
        object-fit: fill;            /* 填充：不保持宽高比 */
    }
    .bin-image-scale-down {
        object-fit: scale-down;      /* 类似 contain 但更保守 */
    }
    .bin-image-none {
        object-fit: none;            /* 原始尺寸 */
    }

    .bin-image-loading,
    .bin-image-error {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}